.question-container {
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.subQuestion{
  margin: 10px 0;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin: 0 15px;
}
.sub-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin: 0 15px;
}
.question:hover, .sub-question:hover{
  cursor: pointer;
}
h6 {
  font-size: 20px;
}
p{
  font-size: 16px;
}
.answer {
  display: none;
}
.answerOut{
  display: block;
  padding: 0 25px;
  transition: 0.3s linear;
}